/*
font-family: 'Raleway', sans-serif;
*/

/* 
font-family: 'Open Sans', sans-serif;
*/

body {
  padding: 4rem 20rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  position: relative;
}

.logo {
  height: 2.4rem;
  margin-bottom: 6rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #333;
}

/**************************/
/* HERO */
/**************************/

.hero {
  display: flex;
  flex-direction: column;
}

.hero-header h2 {
  font-family: "Raleway", sans-serif;
  width: 60%;
  line-height: 1.6;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.hero-header p {
  width: 60%;
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
}

/**************************/
/* HERO IMPUT */
/**************************/

.hero-label input {
  padding: 0.5rem 4rem;
}

.label-link:link,
.label-link:visited {
  padding: 0.68rem 4rem;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.label-link:hover,
.label-link:active {
  color: #fff;
  background-color: hsl(238, 22%, 44%);
}

.label-link {
  margin-top: 1rem;
  padding-bottom: 2rem;
  padding: 0.5rem 3rem;
  margin-left: 1rem;
  background-color: hsl(224, 93%, 58%);
}

.hero-label {
  margin-top: 1.2rem;
}

/**************************/
/* HERO IMG */
/**************************/

.hero-img img {
  height: 36rem;
}
